.tracker-container {
  margin: 1rem auto;
  padding: 20px;
  max-width: $tracker-width;
  min-width: 300px;
  width: 100%;
  background: $color-white;
  border-radius: 15px;
  box-shadow: $shadow;

  h2 {
    color: $black-color;
    text-align: center;
    font-size: 1.6rem;
  }
}
