// Flexbox Mixins
// A mixin to center content both horizontally and vertically
@mixin center-everything {
  display: flex;
  justify-content: center;
  align-items: center;
}

// A mixin to create a flex container with customizable properties
@mixin flex-custom(
  $justify: center,
  $align: center,
  $direction: column,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}

// Media Query Mixins
// A mixin for devices
@mixin respond($breakpoint) {
  @if $breakpoint == small-mobile {
    @media only screen and (min-width: $breakpoint-small-mobile) {
      @content; // 350px
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (min-width: $breakpoint-mobile) {
      @content; // 600px
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: $breakpoint-tablet) {
      @content; // 900px
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $breakpoint-laptop) {
      @content; // 1200px
    }
  }
  @if $breakpoint == large-desktop {
    @media only screen and (min-width: $breakpoint-large-desktop) {
      @content; // 1400px
    }
  }
}
