$color-white: #f0f4f8;
$color-medium: #bcccdc;
$color-text: #829ab1;
$color-content: #486581;
$color-bg: #ffffff91;

$black-color: #2c3e50;
$text-dark: #1e293b;

$primary-color: #3498db;

$maths-color: #3498db; // Blue
$physics-color: #e74c3c; // Red
$chemistry-color: #2ecc71; // Green

$primary: #2563eb;
$success: #10b981;
$danger: #ef4444;

$border: #e2e8f0;

$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

$sidebar-width: 300px;
$tracker-width: 1100px;

$logo-bg: linear-gradient(120deg, #2563eb 0%, #6491f0 100%);

$font-exo: "Exo 2", sans-serif;
$font-Oswald: "Oswald", sans-serif;
$font-Elms: "Elms Sans", sans-serif;
$font-Michroma: "Michroma", sans-serif;

// breakpoints
$breakpoint-small-mobile: 350px;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 800px;
$breakpoint-laptop: 1200px;
$breakpoint-large-desktop: 1400px;

$shadow:
  0 4px 6px -1px rgb(0 0 0 / 0.1),
  0 2px 4px -2px rgb(0 0 0 / 0.1);

@mixin card-style {
  background: rgba($color-white, 0.3);
  padding: 1.5rem;
  border-radius: 15px;
  margin-bottom: 6px;
  border: 1px solid $color-bg;
  background-color: #386dc2;
  box-shadow: $shadow;

  h3 {
    margin-top: 0;
    color: $color-content;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
