$color-white: #f0f4f8;
$color-medium: #bcccdc;
$color-text: #829ab1;
$color-content: #486581;
$color-bg: #0b3c69;
$text-dark: #1e293b;
$primary: #4f46e5;

$border: #e2e8f0;

$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

$sidebar-width: 280px;

$active-gradient: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%);

$font-exo: "Exo 2", sans-serif;
$font-outfit: "Oswald", sans-serif;
