.stats-row {
  margin: 1rem 0;
  padding-bottom: 100px;

  @include flex-custom(center, center, column, 0px, nowrap);

  @include respond(tablet) {
    @include flex-custom(space-between, center, row, 12px, nowrap);
  }
}

.mini-stat {
  margin-bottom: 12px;
  padding: 3px 6px;
  background-color: rgba($black-color, 0.1);
  border-radius: 5px;
  width: 33.3%;

  @include flex-custom(space-between, center, row, 12px, nowrap);

  .stat-val {
    padding: 3px 12px;
    font-size: 1.8rem;
    border-left: 2px solid $color-text;
  }
}

.border-maths {
  border-left: 1rem solid #2563eb !important;
}
.border-physics {
  border-left: 1rem solid #ef4444 !important;
}
.border-chemistry {
  border-left: 1rem solid #10b981 !important;
}
