.formulas-page {
  .formula-header {
    margin-bottom: 25px;

    .search-bar {
      display: flex;
      align-items: center;
      background: white;
      padding: 10px 20px;
      border-radius: 12px;
      border: 1px solid #e2e8f0;
      gap: 10px;
      color: #64748b;

      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 1rem;
      }
    }
  }

  h3 {
    margin: 25px auto;
    color: $color-text;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
}

.add-formula-card {
  width: 500px;
  margin: 0 auto;
}

.formula-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow: scroll;
}

.formula-item-card {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .tag {
      padding: 4px 10px;
      border-radius: 20px;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .maths {
      background: #dbeafe;
      color: #2563eb;
    }
    .physics {
      background: #fef3c7;
      color: #ef4444;
    }
    .chemistry {
      background-color: #ddfcf2;
      color: #10b981;
    }
    button {
      background: none;
      border: none;
      color: #ef4444;
      cursor: pointer;
    }
  }
  h4 {
    margin: 10px 0;
    color: #1e293b;
  }
  .formula-content {
    background: #f8fafc;
    padding: 15px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    color: #2563eb;
  }
}
