.formulas-page {
  .formula-header {
    margin-bottom: 25px;

    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $color-text;
      background: $color-white;
      padding: 15px 25px;
      border-radius: 12px;
      border: 1px solid $border;

      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: transparent;
      }
    }
  }
}

.formula-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow: scroll;
  margin-top: 12px;
}

.formula-item-card {
  .card-header {
    margin-bottom: 10px;
    padding: 0;
    margin: 0;

    @include flex-custom(space-between, center, row, 0 nowrap);

    .tag {
      padding: 4px 10px;
      border-radius: 20px;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .maths {
      background: #dbeafe;
      color: #2563eb;
    }
    .physics {
      background: #fef3c7;
      color: #ef4444;
    }
    .chemistry {
      background-color: #ddfcf2;
      color: #10b981;
    }
  }

  h4 {
    margin: 10px 0;
    color: $black-color;
    padding-left: 12px;
    border-left: 5px solid;
    border-bottom: 1px solid rgba($black-color, 0.2);
  }

  .formula-content {
    background: #ebebeb;
    padding: 15px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    color: $black-color;
  }
}
