.timetable-page {
  h2 {
    text-align: center;
    color: $black-color;
    margin-bottom: 2rem;
  }

  .timetable-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
  }

  .day-column {
    padding: 15px !important;

    .day-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      border-bottom: 2px solid #cfe7ff;
      padding-bottom: 10px;
      h4 {
        margin: 0;
        color: $black-color;
        font-size: 1.2rem;
      }
      .day-percentage {
        font-weight: 800;
        color: $primary;
        font-size: 0.9rem;
        font-size: 1.2rem;
      }
    }
  }

  .slots {
    display: flex;
    flex-direction: column;

    .slot-item {
      display: flex;
      align-items: center;
      gap: 3px;
      border-radius: 6px;
      height: 40px;
      padding: 0 3px;

      button {
        background: none;
        border: none;
        cursor: pointer;
        color: #94a3b8;
        font-size: 1.1rem;
        display: flex;
        padding-left: 3px;
      }
      input {
        border: none;
        background: rgba(69, 70, 71, 0.151);
        outline: none;
        font-size: 0.85rem;
        width: 100%;
        color: #000000;
        padding: 8px;
        margin: 0 6px;
        border-radius: 5px;
      }
      &.is-done {
        background: #42f578;

        input {
          text-decoration: line-through;
          color: #85888b;
          background: #73ff9d;
        }
        button {
          color: #003f17;
        }
      }
    }
  }

  .day-footer-progress {
    margin-top: 15px;

    .bar-outer {
      height: 10px;
      background: #e7e7e7;
      border-radius: 10px;
      overflow: hidden;

      .bar-inner {
        height: 100%;
        background: $chemistry-color;
        transition: $transition;
      }
    }
  }
}
