.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    width: $sidebar-width;
    background: $color-bg;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px $color-text;
    transition: $transition;
    position: sticky;
    top: 0;

    @media (max-width: 800px) {
      display: none;
    }

    .logo {
      padding: 2rem 1rem;
      font-size: 1.8rem;
      font-weight: 800;
      display: flex;
      align-items: center;
      margin: 1rem 0;

      span {
        color: $primary;
        margin-left: 1px;
      }
      .logo-name {
        background-color: $primary;
        color: $color-white;
        border-radius: 5px;
        padding: 0 5px;
      }

      .logo-icon {
        margin-right: 3px;
        width: 40px;
        height: 40px;
        // background: $active-gradient;
        background: $primary;
        background: $logo-bg;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1rem;
        padding: 3px;
        box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.3);
        display: block;
      }
    }

    .nav-menu {
      flex: 1;
      padding: 0 0.3rem;

      button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 14px 18px;
        margin-bottom: 8px;
        border: none;
        // background: transparent;
        background: rgba($color-medium, 0.2);
        border-radius: 12px;
        color: #64748b;
        font-weight: 500;
        cursor: pointer;
        transition: $transition;

        &:hover {
          background: $color-bg;
          border: 2px solid $border;
          color: $black-color;
          .icon {
            transform: translateX(3px);
          }
        }
        &.active {
          background: $black-color;
          color: white;
          box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.2);

          .icon {
            color: white;
          }
        }
        .icon {
          margin-right: 12px;
          font-size: 1.2rem;
          transition: transform 0.3s ease;
        }
      }
    }

    .sidebar-footer {
      padding: 1.5rem;
      margin: 2rem 1rem;
      border-top: 1px solid $color-text;

      .footer-status {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 5px;

        .status-dot {
          width: 12px;
          height: 12px;
          background: #08e659;
          border-radius: 50%;
          box-shadow: 0 0 8px rgba(34, 197, 94, 0.5);
          border: 1px solid rgb(0, 0, 180);
          cursor: pointer;
          transition: $transition;

          &:hover {
            border: none;
            width: 15px;
            height: 15px;
          }
        }

        span {
          font-size: 0.75rem;
          font-weight: 700;
          color: #64748b;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }

      p {
        margin: 0;
        font-size: 0.7rem;
        color: #94a3b8;
        font-family: $font-exo;
        letter-spacing: 0.3px;
      }
    }

    .user-profile {
      margin: 20px;
      padding: 15px;
      background: rgba($color-medium, 1);
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      transition: $transition;

      &:hover {
        transform: scale(1.02);
      }

      .avatar {
        width: 60px;
        height: 60px;
        background: #ddd;
        border-radius: 50%;
        object-fit: cover;
      }

      .info {
        text-align: end;
        h4 {
          margin: 0;
          font-size: 0.9rem;
          color: $text-dark;
        }
        p {
          margin: 0;
          font-size: 0.75rem;
          color: #3e526e;
        }
      }
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .top-bar {
      background: $color-bg;
      padding: 1rem 2.5rem;
      border-bottom: 1px solid $border;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 150px;
      border-radius: 0 0 1rem 1rem;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid $border;
      position: sticky;
      top: 0;
      z-index: 100;

      h1 {
        font-size: 1.9rem;
        margin: 0;
        color: $color-text;
      }
      .user-info {
        font-weight: 600;
        color: $primary;
        background: #dbeafe;
        padding: 5px 25px;
        border-radius: 20px;
      }
    }

    .date-box {
      text-align: right;
      padding-right: 20px;

      display: flex;
      flex-direction: row;
      align-items: center;
      background: rgba($color-medium, 0.2);
      padding: 6px 16px;
      border-radius: 6px;

      h4 {
        margin: 0;
        font-size: 1.3rem;
        color: $text-dark;
        padding-right: 6px;
      }
      p {
        border-left: 2px solid $color-content;
        margin: 0;
        font-size: 0.8rem;
        color: $color-content;
        padding-left: 6px;
      }
    }

    .page-render {
      padding: 1rem;
      background-color: $color-bg;
      height: 100vh;
    }
  }
}

.bottom-nav {
  display: none;
}

// bottom nav
@media (max-width: 800px) {
  .sidebar {
    display: none;
  } // Mobile වලදී sidebar එක හංගනවා

  aside {
    display: none;
  }

  #bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 16px;
    background: #fafafa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e2e8f0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 1rem 1rem 0 0;

    button {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #94a3b8;
      font-size: 0.8rem;
      gap: 4px;

      margin: 0 3px;

      .icon {
        font-size: 0.9rem;
        font-weight: 600;
      }
      &.active {
        color: #2563eb;
        font-size: 1.05rem;

        .icon {
          font-size: 1.15rem;
        }
      }
    }
  }

  .main-content {
    margin-left: 0 !important; // Sidebar එකේ ඉඩ අයින් කරනවා
    padding-bottom: 80px; // Bottom nav එකට යට නොවෙන්න පල්ලෙහයින් ඉඩ තියනවා
  }
}

.main-grid {
  // gap: 2rem;
  /* display: flex; */
  /* justify-content: space-evenly; */
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow: scroll;
}

/* Mobile Styles (Max 800px) */
// @media (max-width: 800px) {
//   // 1. Grid එක Column එකක් කරන්න
//   // .main-grid {
//   //   display: flex !important;
//   //   flex-direction: column !important;
//   //   gap: 1.5rem;
//   //   padding: 10px;
//   // }

//   // 2. වම සහ දකුණු පැති වල පළල 100% කරන්න
//   .left-col,
//   .right-col {
//     width: 100% !important;
//   }

//   // 3. Header එකේ දත්ත එක යට එක වැටෙන්න
//   .dashboard-main {
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 1rem;

//     .dashboard-main-right {
//       width: 100%;
//       justify-content: flex-start;
//       flex-wrap: wrap;
//     }
//   }

//   // 4. Timer එක පොඩි කරන්න (Mobile screen එකට ගැලපෙන්න)
//   .timer-display h2 {
//     font-size: 3rem !important;
//   }
// }
