.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .logo {
    padding: 2rem 1rem;
    font-size: 1.8rem;
    font-weight: 800;

    @include center-everything;

    @include respond(tablet) {
      padding: 1rem;
      margin: 2rem auto;
      font-size: 2rem;
    }

    span {
      margin-left: 1px;
      color: $primary;
    }
    .logo-name {
      padding: 0 5px;
      background-color: $primary;
      color: $color-white;
      border-radius: 7px;
    }

    .logo-icon {
      margin-right: 3px;
      padding: 3px;
      width: 40px;
      height: 40px;
      background: $logo-bg;
      color: $color-white;
      border-radius: 10px;
      font-size: 1rem;
      box-shadow: $shadow;
    }
  }

  .sidebar {
    width: $sidebar-width;
    background: $color-bg;
    height: 100vh;
    box-shadow: 0px 0px 6px $color-text;
    transition: $transition;
    position: sticky;
    top: 0;

    @include flex-custom(center, center, column, 0, wrap);
    display: none;

    @include respond(desktop) {
      display: block;
      padding: 0 0.5rem;

      @include flex-custom(center, center, column, 0, wrap);
    }

    .nav-menu {
      flex: 1;
      padding: 0 0.3rem;

      button {
        padding: 14px 18px;
        margin-bottom: 8px;
        width: 100%;
        background: rgba($color-medium, 0.2);
        color: $color-text;
        border-radius: 12px;
        font-weight: 500;
        border: none;
        transition: $transition;
        cursor: pointer;

        @include flex-custom(flex-start, center, row, 12px, wrap);

        &:hover {
          background: $color-bg;
          color: $black-color;
          border: 2px solid $border;

          .icon {
            transform: translateX(3px);
          }
        }

        &.active {
          background: $black-color;
          color: $color-white;
          box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.2);

          .icon {
            color: $color-white;
          }
        }

        .icon {
          margin-right: 12px;
          font-size: 1.2rem;
          transition: transform 0.3s ease;
        }
      }
    }

    .sidebar-footer {
      padding: 1.5rem;
      margin: 2rem 1rem;
      border-top: 1px solid $color-text;
      text-align: center;

      .footer-status {
        margin-bottom: 5px;
        @include flex-custom(center, center, row, 12px, wrap);

        .status-dot {
          width: 15px;
          height: 15px;
          background: $success;
          border-radius: 50%;
          animation: pulse 1s infinite;
          transition: $transition;
          cursor: pointer;

          &:hover {
            width: 18px;
            height: 18px;
          }
        }

        span {
          font-size: 0.75rem;
          font-weight: 700;
          color: $color-text;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }

      p {
        margin: 0;
        font-size: 0.7rem;
        color: $color-text;
        font-family: $font-exo;
        letter-spacing: 0.3px;
      }
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 100px;

    .top-bar {
      padding: 1rem;
      height: 200px;
      border-radius: 0 0 1rem 1rem;
      border-bottom: 2px solid $border;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      position: sticky;
      top: 0;
      z-index: 100;
      @include flex-custom(space-between, center, column-reverse, 0, nowrap);

      @include respond(tablet) {
        padding: 3rem;
        @include flex-custom(space-between, center, row, 0, nowrap);

        .mobile-logo {
          display: none;
        }
      }

      h1 {
        margin: 0;
        font-size: 1.5rem;
        color: $color-text;

        @include respond(tablet) {
          font-size: 1.9rem;
        }
      }
    }

    .page-render {
      padding: 1rem;
      background-color: $color-bg;
      height: 100vh;
    }
  }
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 2rem;
  background: $border;
  border-top: 1px solid $border;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  @include flex-custom(space-between, center, row, 0, nowrap);

  button {
    margin: 0 3px;
    background: none;
    border: none;
    color: $color-text;
    font-size: 0.8rem;

    @include flex-custom(center, center, column, 4px, nowrap);

    .icon {
      font-size: 0.9rem;
      font-weight: 600;
    }

    &.active {
      color: $primary;
      font-size: 1.05rem;
      font-weight: 600;
      text-decoration: underline;

      .icon {
        font-size: 1.8rem;
      }
    }
  }

  @include respond(desktop) {
    display: none;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 100px;
  padding: 0 auto;

  @include respond(desktop) {
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
